.cardContainer {
  width: 18.125rem;
  height: 5.563rem;
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin: 1rem 2.3%;
  position: relative;
  cursor: pointer;
}

.clubIcon {
  width: 3.813rem;
  height: 3.813rem;
  margin: 0.813rem 1.125rem 0.938rem 0.938rem;
  border-radius: 7px;
  background: #c4c4c4;
}

.infoContainer {
  margin: 0.875rem 0rem;
}

.clubName {
  display: flex;
  flex-direction: row;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.563rem;
}

.clubCategory {
  display: flex;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.188rem;

  background: rgba(255, 112, 98, 0.1);
  border-radius: 0.313rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  padding-top: 0.063rem;
  padding-bottom: 0.125rem;
}

.clubCategoryBackground {
  display: flex;
  background: rgba(255, 255, 255);
}

.favouriteIcon {
  width: 1.235rem;
  height: 1.101rem;
  position: absolute;
  right: 0.6rem;
  top: 0.544rem;
  z-index: 100;
}
