fieldset.styled-text-input {
  padding: 10px;
  border: 1.5px solid #c7c7c7;
  border-radius: 10px;
  width: 100%;
}
fieldset.styled-text-input:focus-within {
  padding: 10px;
  border: 1.5px solid #35c1fd;
  border-radius: 10px;
}
fieldset.styled-text-input:focus-within legend.styled-text-input {
  color: #35c1fd;
}
legend.styled-text-input {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #717171;

  margin: 0 0px -10px 5px;
}
textarea.styled-text-input {
  resize: none;
  border: 0;
  border-width: 0px;
  background-color: transparent;
  width: 100%;
  padding-left: 5px;
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
textarea.styled-text-input:focus {
  outline: none !important;
  border: 0;
  border-width: 0px;
}
