.registration {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.profile {
  display: flex;
  flex-direction: row;
}

.club-photo {
  width: 270px;
  border-radius: 20px;
}

.edit-photo:hover .photo-click-zone {
  cursor: pointer;
  border: 2px dashed #35c1fd;
}

.edit-photo:hover .photo-caption {
  color: #35c1fd;
  cursor: pointer;
}

.photo-click-zone {
  border: 2px dashed #c7c7c7;
  border-radius: 20px;
  padding: 10px;
}

.edit-photo {
  display: flex;
  flex-direction: column;
}

.photo-caption {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #717171;
  margin-top: 10px;
}

.edit-inputs {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-left: 3em;
  width: 100%;
}

.displayed-page {
  padding-left: 3em;
  width: calc(100% - 400px);
}

.page-hide {
  display: none;
}
.page-show {
}
