.header {
  display: flex;
  align-items: center;
}

.mid {
  width: 57%;
  margin: auto;
}

.searchBar {
  padding: 10px 10px;
  size: 100px;
  width: 300px;
  height: 20px;
}

.searchContainer {
  margin-left: 20px;
  float: left;
  padding: 10px 10px;
}

.navbar {
  display: inline-block;
}

.navbar li {
  list-style: none;
  display: inline-block;
  margin: auto;
}

.right {
  display: flex;
  width: 40%;
  font-size: 18px;
  margin-left: 3%;
  margin-right: 1%;
}

.registerButton {
  background-color: salmon;
  display: inline-block;
  width: 22%;
  font-size: medium;
  width: 10.938rem; /* 175px; */
  height: 2.813rem; /*45px; */
  margin-left: 3%;
  margin-right: 3%;
  color: white;
  border-radius: 0.875rem; /*14px; */
  border: none;
  font-family: 'Times New Roman', Times, serif;
}

.right a {
  padding: 10px 10px;
}

.left {
  display: inline-block;
  width: 16%;
  margin: 20px 20px 15px 20px;
  min-width: 250px;
  font-size: 18px;
}
