.page-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.sidebar {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.sidebar-item {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  height: 50px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #35c1fd;

  text-align: left;
  padding-left: 75px;
}

.sidebar-item-highlighted {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  height: 50px;

  color: #35c1fd;
  border-radius: 0 20px 20px 0;
  background: #35c1fd1a;

  text-align: left;
  padding-left: 75px;
}
