.dashboardContainer{
  width: 96vw
}

.cardsContainer {
  display: flex;
  float: left;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  overflow: auto;
  max-height: 96vh; /* sub-optimal fix later. Need height to make clubBoard scrollable*/
  margin-top: 1%;
}

.filterContainer {
  float: left;
  margin-top: 1%;
  width:20%;
}
