button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}
.clubCard {
  width: 1.235rem;
  height: 1.101rem;
  position: absolute;
  right: 0.7rem;
  top: 0.544rem;
}

.clubInfo {
  position: relative;
  right: -10.9375rem;
  top: 14.6875rem;
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
  box-shadow: 0rem 0.25rem 0.5em;
}
.favoriteIcon {
  position: relative;
  top: 0.125rem;
}
