.homePage {
    position: absolute;
  right: 17rem;
  top: 9px;

  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: auto;
  font-display: flex;

  border-color: salmon;
  color: salmon;
  background-color: white;
  border-style: solid;
  border-width: 3px;
  text-decoration: none;

  width: 18%;
  font-size: large;
  width: 10.4rem;
  height: 3.7rem;
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 0.95rem;
}

