@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Source+Sans+Pro&display=swap');

.App {
  text-align: center;
  padding: 0% 0%;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
}
