.socialTag {
  display: flex;
  background-color: #FF998D;
  width: 125px;
  height: 40px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: left;
  align-items: center;
}

.socialName {
  font-size: 14px;
  color: #ffffff;
  margin-left: 15px;
  font-weight: 800;
  font-size: 14px;
}
