.socialTag {
  display: flex;
  background-color: #ff998d;
  width: 165px;
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.socialName {
  font-size: 14px;
  color: #ffffff;
  margin-left: 15px;
}
