.categoryTag {
  display: inline-block;
  background-color: rgba(255, 112, 98, 0.1);
  justify-content: center;
  align-items: center;
}

.large {
  border-radius: 16.5px;
}

.small {
  border-radius: 5px;
}

.largeTitle {
  font-family: 'SF Pro Rounded';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  color: #424242;

  padding: 6px 20px;
}

.smallTitle {
  font-weight: 600;
  line-height: 15px;
  font-size: 11px;
  padding: 2px 7px;
}
