.filter {
  text-align: left;
  padding: 13% 13%;
}

.title {
  font-size: 24px;
  margin-bottom: 1rem;
}

.dropdown {
  margin-bottom: 10px;
}

.checkBox{
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.apply{
  display: flex;
  justify-content: center;
}